
DotNetTests/obj/project.nuget.cache
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.pdb
DotNetTests/obj/project.assets.json
DotNetTests/obj/DotNetTests.csproj.nuget.g.targets
DotNetTests/obj/DotNetTests.csproj.nuget.g.props
DotNetTests/obj/DotNetTests.csproj.nuget.dgspec.json
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.genruntimeconfig.cache
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.dll
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.csproj.FileListAbsolute.txt
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.csproj.CoreCompileInputs.cache
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.csproj.CopyComplete
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.csproj.AssemblyReference.cache
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.assets.cache
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.AssemblyInfoInputs.cache
DotNetTests/obj/Debug/netcoreapp3.1/DotNetTests.AssemblyInfo.cs
DotNetTests/obj/Debug/netcoreapp3.1/apphost.exe
DotNetTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNetTests/bin/Debug/netcoreapp3.1/DotNetTests.deps.json
DotNetTests/bin/Debug/netcoreapp3.1/DotNetTests.dll
DotNetTests/bin/Debug/netcoreapp3.1/DotNetTests.exe
DotNetTests/bin/Debug/netcoreapp3.1/DotNetTests.pdb
DotNetTests/bin/Debug/netcoreapp3.1/DotNetTests.runtimeconfig.dev.json
DotNetTests/bin/Debug/netcoreapp3.1/DotNetTests.runtimeconfig.json
DotNetTests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.Versioning.dll
DotNetTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
DotNetTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
DotNetTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
DotNetTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DotNetTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
.vs/DotNetTests/v16/.suo
.vs/DotNetTests/v16/TestStore/0/000.testlog
.vs/DotNetTests/v16/TestStore/0/testlog.manifest
DotNetTests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
